.header-area .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.user-table img {
    width: 200px;
    height: 100px;
}

.view img {
    width: 200px;
    height: 100px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

/*.pagination a.active {*/

/*background-color: #4CAF50;*/

/*color: white;*/

/*}*/

.pagination a:hover {
    background-color: #4CAF50;
    color: #ffffff;
}

/*Common CSS*/

.zero-padding {
    padding: 0;
}

/*Log iN */

.form-horizontal {
    padding: 0 100px;
}

.btn.btn-default.btn-lg {
    width: 100%;
    color: #349545 !important;
    border-color: rgba(52, 149, 69, .5);
}

.log-form {
    background: url(../img/bg-shap2.png);
    /*background-size: contain;*/
    background-position: bottom;
}

.log-form {
    border: 2px solid #349545;
    margin: 50px;
}

#home .logo {
    margin-bottom: 120px;
    margin-top: 20px;
}

.foo {
    margin-top: 20px;
    margin-bottom: 120px;
}


.registration i.glyphicon {
    color: #349545;
}

.foo a {
    display: inline-block;
    color: #349545;
    text-shadow: 0 5px 5px #349545;
    text-decoration: none;
}

/*INDEX Page */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


/*#applied-work {
    background: url(../img/bg-shap3.png);
    background-position-y: center;
}*/

#applied-work {
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding-bottom: 120px;
}

.hom-btm-pic {
    position: absolute;
    left: 0;
    bottom: -210px;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.faul-tag-btn {
    color: #349545;
    border: 1px solid rgba(52, 149, 69, .5);
}

#applied-work .logo {
    margin-bottom: 50px;
    margin-top: 30px;
}



.text-uppercase {
    font-size: 22px;
    color: #666;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}

.text-uppercase:after {
    position: absolute;
    left: 50%;
    border: ;
    bottom: -5px;
    width: 170px;
    height: 2px;
    background: #349545;
    content: "";
    z-index: -1;
    display: ;
    margin-left: -85px;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle),
.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
    border: none;
    border-radius: 5px;
    margin: 5px 5px;
}

/*#applied-work .btn-group > .btn:last-child:not(:first-child),
#applied-work .btn-group > .dropdown-toggle:not(:first-child) {
    left: 30%;
}*/

/*apply_work Page*/

.form-group.apply-type-work select {
    cursor: pointer;
}

.form-group.apply-type-work select,
.form-group.apply-type-work input {
    float: right;
    border: 1px solid #ccc;
    border-radius: 0 !important;

}

.form-group.apply-type-work input {
    margin: 0 !important;
    width: 39% !important;
}

.apply-work-submit-btn {
    padding: 10px 30px;
    transition: .3s;
}

.apply-work-submit-btn:hover {
    background: #349545;
    color: #fff;
}
