
.header-area .navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

.user-table img {
    width: 200px;
    height: 100px;
}

.view img {
    width: 200px;
    height: 100px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

/*.pagination a.active {*/
    /*background-color: #4CAF50;*/
    /*color: white;*/
/*}*/

.pagination a:hover {
    background-color: #4CAF50;
    color: #ffffff;
}